@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
:root {
	--base: #fff;
	--blue: #3466af;
	--darkgrey: #444;
	--draw: #fb0;
	--github: #24292e;
	--hoverLink: #f55;
	--light: #aaa;
	--lightblue: #cfe3f3;
	--linkedin: #0e76a8;
	--lose: #f74711;
	--win: #0f0;
	--yellow: #ffcb05;
}
body {
	display: flex;
	flex-direction: column;
	font-family: 'Cairo', sans-serif;
	font-size: 14px;
	min-height: 100vh;
}
.header {
	background-color: var(--base);
	border-bottom: 5px solid var(--light);
}
.header > h1 {
	color: var(--yellow);
	font-size: 2em;
	font-weight: bolder;
	padding: 25px;
	text-align: center;
	text-shadow: 1.5px 1px 1px var(--blue);
}
.header__logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	min-width: 360px;
	padding-top: 25px;
}
@media (max-width: 515px) {
	.header__logo {
		max-width: 100%;
	}
}
.main {
	background-image: url('../images/bg.png');
	background-position: center;
	background-size: cover;
	min-height: 80vh;
	width: 100%;
}
.main__title {
	color: var(--base);
	font-size: 3em;
	font-weight: bolder;
	margin: 25px;
	text-align: center;
	text-shadow: 1px 1px 1px var(--blue);
}
.main__title::first-letter {
	color: var(--yellow);
	text-shadow: 1px 1px 1px var(--blue);
}
.main__title::after {
	color: var(--yellow);
	content: '!';
	text-shadow: 1px 1px 1px var(--blue);
}
.main__container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	min-height: 300px;
}
.main__pick, .main__pick-disabled {
	align-items: center;
	background-color: var(--base);
	border-radius: 50%;
	box-shadow: 0 0 3em var(--darkgrey);
	cursor: pointer;
	display: flex;
	height: 220px;
	justify-content: center;
	margin: 10px;
	width: 220px;
}
.main__pick {
	filter: contrast(80%);
	transition: filter 0.3s, width 0.3s, height 0.3s;
}
.main__pick-disabled {
	filter: saturate(0);
}
.main__pick:hover {
	filter: contrast(100%);
	height: 250px;
	transition: filter 0.3s, width 0.3s, height 0.3s;
	width: 250px;
}
.main__pick:active {
	transform: scale(.97);
}
.main__pick-img {
	max-height: 200px;
	width: 200px;
}
@media(max-width: 600px) {
	.main__container {
		flex-direction: column;
	}
}
.main__replay {
	display: flex;
	justify-content: center;
	margin: 25px;
}
.main__replay-button {
	background-color: var(--blue);
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 4px var(--darkgrey);
	color: var(--base);
	font-size: 2.5em;
	font-weight: 600;
	padding: 5px 10px;
	text-align: center;
	transition: background-color 0.5s, box-shadow 0.5s;
	visibility: hidden;
}
.visible {
	visibility: visible;
}
.main__replay-button::first-letter {
	color: var(--yellow);
	text-transform: uppercase;
}
.main__replay-button::after {
	color: var(--yellow);
	content: '?';
}
.main__replay-button:hover {
	background-color: #fff;
	border: none;
	box-shadow: 0 0 4px var(--darkgrey);
	color: var(--darkgrey);
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s;
}
.main__replay-button:active {
	border: none;
	outline: none;
	transform: scale(.97);
}
.main__replay-button:focus {
	outline: none;
}
.main__battle {
	align-items: center;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 30px 1fr;
	justify-items: center;
}
.main__battle > h3 {
	border-radius: 10px;
	color: var(--base);
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
	text-shadow: 1px 1px 1px var(--blue);
}
.main__battle-moves {
	align-items: center;
	background-color: var(--base);
	border-radius: 50%;
	display: flex;
	height: 100px;
	justify-content: center;
	position: relative;
	width: 100px;
}
.main__battle-moves img {
	width: 75px;
}
.main__battle-playermove, .main__battle-compmove {
	opacity: 1;
	position: absolute;
	transition: opacity .3s ease-out;
}
.opacity {
	opacity: 0;
	transition: opacity .3s ease-out;
}
.main__score {
	padding: 10px;
}
.main__battle-h3player {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.main__battle-h3comp {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
.main__battle-playermove {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
.main__battle-compmove {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
.main__battle-log {
	color: var(--base);
	font-size: 2em;
	font-weight: 600;
	grid-column: 2/3;
	grid-row: 1/4;
	margin: 0 20px;
	text-align: center;
	text-shadow: 1px 1px 1px var(--blue);
}
@media(max-width: 480px) {
	.main__battle {
		align-items: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		justify-items: center;
	}
	.main__battle-h3comp {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.main__battle-compmove {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	.main__battle-log {
		font-size: 2em;
		grid-column: 1/3;
		grid-row: 4/5;
		text-align: center;
	}
}
.main__score {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
}
.main__score-item {
	background-color: var(--darkgrey);
	border: 1px solid var(--base);
	height: 15px;
	width: 15px;
}
.win {
	background-color: var(--win);
}
.lose {
	background-color: var(--lose);
}
.draw {
	background-color: var(--draw);
}
.footer {
	background-color: var(--base);
	border-top: 5px solid var(--light);
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: max-content;
	justify-content: center;
	margin-top: auto;
}
@media (max-width:630px) {
	.footer {
		grid-template-columns: 1fr;
	}
}
.footer__item {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem;
	width: 100%;
}
.footer__item:nth-child(3) {
	justify-self: center;
	max-width: 300px;
}
.footer__logo {
	height: 40px;
	padding-right: 0.3rem;
}
.fab, .fas {
	font-size: 2.5em;
	padding: 5px;
}
.fa-linkedin {
	color: var(--linkedin);
}
.fa-github-square {
	color: var(--github);
}
.fa-envelope-square {
	color: var(--darkgrey);
}
.fa-linkedin:hover, .fa-github-square:hover, .fa-envelope-square:hover {
	color: var(--hoverLink);
	transition: 0.3s;
}
.madeby {
	max-width: 150px;
	padding: 10px;
}
.nintendorights {
	color: var(--darkgrey);
	font-size: 0.8em;
	font-weight: bolder;
	text-align: center;
}
.playerMove {
	transition: 3s;
}